*{
    padding:0px;
    margin:0px;
}
.container{
    width: 60% ;
    background-color: rgb(228 235 234);
    border-radius: 18px;
    margin: auto;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.heading h1{
    /* font-size: xx-large; */
    color: #ff0097;position: absolute;margin: auto;
    font-weight: 900;
}
.title{
    color: #001dff;text-align: center;
}
#dobinp{
    width: 35%;
}
#genderinp{
    float: left; width: 35%;
}
#photo{
    width: 80px;
}

.p-details{
    display: flex;
    flex-direction: row;
}
.container span{
    position: absolute; color: red;font-size: smaller;
    visibility: hidden;
}
.col1{
    margin-left: 10px;
    width: 50%;
}
.col1 label{
    float: left;
    width: 27%;
}
.col1 input{
    float: left;
    width: 47%;
}
.col1 select{
    float: left; width: 55%;
}
.box{
    border: 1px solid grey;
    width: 97%;
    margin: auto;
    border-radius: 35px;
    border: none;
    background-color: #dde8e9;
}
.box label{
    float: left;margin-right: 10px;
}
.box select{
    float: left;
}
.submit{
    border-radius: 8px; font-size: medium; color: white; background-color: #85205e; width: 100px; height: 30px;
}
.noborder{
    border: none;
}
.lableCheckbox{
    color: #5e5838;
    margin-left: 10px;
    font-weight: 600;
}
.permanentTitle{
    display: flex; align-items: center
}

.logo{
    position: relative;
    margin-left: auto;
    margin-right: 6px;
}
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .userContainer{
        margin-top: 20px !important;
        background-color:rgb(192 214 219);
        margin: auto;
        width: 60%;
        border-radius: 18px;
        margin-bottom: 10px;
        /* display: none; */
    }
    .userContainer h1{
        color: #045643;
        text-align: center;
        font-weight: 900;
    }
    .userData{
        display: flex;
        flex-direction: row;
        margin-left: 15px;
    }

    #hobby{
        text-decoration: none;
        border: none;
        background-color: rgb(228 235 234);
        border-bottom: 2px solid black;
        margin-bottom: 5px;
        cursor: pointer;
    }
    .hobbies{
        flex-direction: column;
        display: none;
        background-color: rgb(228 235 234);
        width: 120px;
        
    }
    .hobbiesVisible{
        flex-direction: column;
        display: flex;
        background-color: rgb(228 235 234);
        width: 120px;
    }
    .lastSection{
        margin-left: 25px;
    }
    h3{
        margin-left: 25px;
    }
    
    @media(max-width:868px) {
        .container span{
            font-size:xx-small ;
        }
        .logo{
            position: relative;
            margin-left: auto;
        }
        #photo{
            width: 35px;
        }
        .heading h1{
            color: #ff0097;position: absolute;margin: auto;
            font-size: x-large ;
            margin-right: 4px ;
        }
        .p-details{
            flex-direction: column ;
            margin: auto ;
        }
        .col1{
            margin-left: 10px;
            width: 85%;
        }
        .col1 label{
            float: left;
            width: 35%;
        }
        .col1 input{
            float: left;
            width: 60% ;
        }
        .container{
            width: 96% ;
        }
        .lableCheckbox{
            font-size: small;
        }
        .userData{
            flex-direction: column;
        }
        .userContainer{
            width: 80%;
        }
        .userData label{
            width: 45%;
        }
    }
    
    @media (max-width: 1164px) and (min-width: 869px) {
        .container span{
            font-size:x-small;
        }
        .logo{
            position: relative;
            margin-left: auto;
            font-size: 30px 
        }
        .heading h1{
            color: #ff0097;position: absolute;margin: auto;
            font-size: xx-large;
        }
        
        .p-details{
            flex-direction: column ;
            margin: auto ;
        }
        .box{
            border: 1px solid grey ;
            width: 80% ;
            margin: auto;
            border-radius: 12px ;
        }
        .col1{
            margin-left: 10px ;
            width: 80% 
        }
        .col1 input{
            float: left;
            width: 61% ;
        }
        .lableCheckbox{
            font-size:medium;
        }
    }

/* User Details */

